main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

section {
    height: 100vh;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
}

.main_block {
    display: flex;
}

.box {
    display: flex;
    flex: 0;
    transition: flex 1s;
}

.box * {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    transition: opacity 1s, width 1s, height 1s;
}

.visible {
    flex: 1;
}

.visible * {
    opacity: 1;
    max-width: auto;
    max-height: auto;
    transition-delay: 1s;
}

.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.arrow_left {
    left: 0;
}

.arrow_right {
    right: 0;
}




















/*div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expandStart {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}


.left {
    grid-column: 1/2;

}

.right {
    grid-column: -1/-2;
}

.hide {
    display: none;
}

#one {
    background-color: crimson;
}

#two {
    background-color: darkorchid;
}

#three {
    background-color: aquamarine;
}

#four {
    background-color: cornflowerblue;
}

.main_block {
    display: flex;
}

.main_block section {
    display: flex;
    flex: 0;
    transition: flex 1s;
}

.main_block .visible {
    flex: 1;
}

.arrow {
    display: none;
    align-items: center;
}


.visible {
    display: block; 
}*/

/*.visible .arrow {
    display: block;
}*/